*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e22, #23d5ab);
  background-size: 300% 300%;
  animation: color 20s ease-in-out infinite;
}

.center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


.text {
  margin-bottom: 2px;
  font-size: 5em;
  color: #e4dfe0;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22), cursor .4s step-end infinite alternate;
  transition: 0.5s;
}

.text:hover{
  letter-spacing: 12px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }  
}


.upload-btn{
  position: relative;
  color: #e4dfe0;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-top: 60px;
  border: solid 2px white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  padding: 3px 8px;
}


.upload-btn:hover{
  background: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.menu-btn{
  position: absolute;
  top: 1em;
  left: 1em;
}
.menu-icon{
  
  width: 40px; 
  height: 40px;
  transition: transform 0.3s ease-in-out; 
}

.menu-icon:hover{
  transform: scale(1.3);
  
  cursor: pointer;
}





